header {
    position: relative;
    height: 720px;

    background: url("./images/banner-promotion-1.png");
    background-size: cover;
}

.header__menu {
    display: flex;

    justify-content: space-between;
    padding: 20px 50px;
}

button {
    cursor: pointer;
}


.logo {
    font-size: 28px;
    color: white;
}

.logo span {
    color: #3B44F6;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu__link {
    text-decoration: none;
    color: rgba(239, 239, 239, 0.7);
}

.menu__link.active {
    color: white;
}

.btn {
    padding: 8px 16px;
    background-color: #3B44F6;
    color: white;
    border: none;
    border-radius: 8px;
}

.btn-large {
    padding: 16px 32px;
}

.banner__content {
    position: absolute;
    left: 50px;
    bottom: calc(720px - 50%);
    
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner__title {
    font-size: 48px;
    color: white;
}

.banner__subtitle {
    font-size: 24px;
    color: white;
}

.products__title{
    font-family: Lexend;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.popular-games-all{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-content: flex-end;
    color: blue;
    cursor: pointer;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.why_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}


.why_title{
    font-family: Lexend;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.why_subtitle{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 400px;
    text-align: center;
}

.facts {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
}

.fact{
    font-family: Lexend;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.fact_text {
	font-weight: 600;
}

.howManyGamersSatisfied{
    font-family: Lexend;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.lets_hear{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.rewiew_block{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 297px; */
    height: 296px;
    padding: 32px 24px 32px 24px;
    gap: 24px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    background-color: whitesmoke;
}


.lorem {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.76px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

footer {
    background-color: #0E0E0E;
    display: flex;
    justify-content: space-between;
    height: 369px;
    top: 2821px;
    padding: 50px 92px 0px 92px;
    gap: 65px;
    opacity: 0px;
    color: white;
}

.footer-title {
    font-family: Lexend;
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white; 
    justify-content: start; 
    align-items: start;    
}

.eX{
    font-family: Lexend;
    font-size: 28px;
    font-weight: 900;
    line-height: 39.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B44F6;
}

.menu, .resources{
    display: block;
}

.subtitle{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.footer_p{
    color: #A0A0A0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 20px;
}

.icons{
    margin-top: 20px;
}

.icon {
    margin-right: 10px;
    cursor: pointer;
}

.swiper {
    width: 1200px;
    height: 300px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 1px;
    box-sizing: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 12px;
    border-radius: 8px;
    transition: 0.5s;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.item.info{
    display: flex;
}

.item__price--sale-wrapper{
    display: flex;
    justify-content: end;
}


.item__price--sale{
    background: #FC326F33;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Lexend;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FC326F;
}

.item__price--old{
    background: #D1D1D1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    text-decoration: line-through;
    color: #7D7D7D;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.item__price--sale-amount, .item__price--default{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B44F6;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item__title{
    font-family: Lexend;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
}

.item__price--free{
    width: 110px;
    margin-top: 5px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B44F6;
    background-color: #D8DAFD;
}

.item__price-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

